/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	background-color:black;
 }
.bodyApp{
	background-color:black;
}
 .carousel-caption h1 {
		font-family: Garamond;
		font-size: 3em;
		color: red !important;
}
}
}

/* Description text */
.carousel-caption p {
		font-family: Garamond;
		font-size: 2em;
		color: blue !important;
}

.carousel-caption .btn {
		font-family: Garamond;
		font-size: 1em;
		color: yellow;
}

.carousel-inner>.item>img {
		width: 160px;
		height: 90px;


}

.carouselImage{
	width: 50%;
}
.carouselBox{
	height: 400px;
}
 .formbox{
 	width:90%;
 }
.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    max-width: 6000px;
    max-height: 650px;
    height: 650px;
    padding: 10px;
    background-color: #CCCCCC;
}

.buttonposition{
	position: absolute;
	right:-300px;
}

.inputwidht{
	width:150%;
}

.innerfolder{
margin-left: 300px
}
.nav-tabs.active a{
  	color:black;
}
.nav-tabs a{
  	color:white;
}
.nav-tabs.active{
	background-color:red;
}

.navitem.active {
  background-color: #777777;
}
.nav-link.active {

    background-color: #CCCCCC !important;
}


@keyframes fadeIn {
		0% {
				opacity: 0;
		}

		50% {
				opacity: 1;
		}

		100% {
				opacity: 0;
		}


}

@keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -100%) scale(1, 1); }
    55% { transform: translate(-50%, -100%) rotate(15deg); }
    60% { transform: translate(-50%, -100%) rotate(-15deg); }
    65% { transform: translate(-50%, -100%) rotate(15deg); }
    70% { transform: translate(-50%, -100%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}
@keyframes fadeIn {
		0% {
				opacity: 0.25;
		}

		50% {
				opacity: 1;
		}

		100% {
				opacity: 0.25;
		}


}

@keyframes fadeInOnce {
		0% {
				opacity: 0;
		}

		50% {
				opacity: 0.5;
		}

		100% {
				opacity: 1;
		}


}
 .logoSize{
 	width:10%;
 	position: relative;
 	float:right;
 	animation-name: jump;
	animation-duration: 3s;
	animation-iteration-count: infinite;
 }
.frontcompanylogo{
	width:60%;
	 	animation-name: fadeInOnce;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.fadeintrick{
		 	animation-name: fadeInOnce;
	animation-duration: 10s;
	animation-iteration-count: 1;
}

 .companylogo{
 	width:100%;
 	 	animation-name: fadeIn;
	animation-duration: 10s;
	animation-iteration-count: infinite;
 }
  .companylogo2{
 	width:15%;
 	right: 5px;
 	top: -16px;
 	position: absolute;
 	z-index: 1000;
 }
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: white;
}

.item:hover {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
    font-size: 13px;
}

.item-status {
    text-align: right;
}

.color-bar {
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.drop-wrapper {
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.control{
	 		height: 300px;
    		width: 100%;
		overflow-y: scroll;
}


.col-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    background-color: var(--background-color);
    border-radius: 5px;
    		height: 400px;
    		width:20%;
		overflow-y: scroll;
}

.col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.col {
    min-height: 300px;
    max-width: 200px;
    width: 200px;
}

.highlight-region {
    background-color: yellow;
}

.page-header {
    background-color: #054F7C;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    text-align: center;
}

.modal {
    background-color: #F4F5F7;
    border-radius: 2px;
    margin: 48px 0 80px;
    min-height: 450px;
    width: 800px;
    outline: none;
    padding: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
    display: flex;
}

.close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #031D2C;
    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: #DCDCDC;
}